html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.navbar {
    padding-top: 2rem;
}

.navbar-brand {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.navbar-collapse {
    padding-right: 0;
}

.landing {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 42px;
    padding: 10rem;
    margin: 10rem auto 20rem auto;
}

h1 {
    color: #777777;
    padding: 16px 16px;
    margin-bottom: 0;
    font-size: 36px;
    font-family: 'futura-pt', sans-serif;
    letter-spacing: 6px;
}   

.darrow {
    height: 60px;
    margin: 0 auto;
    position: absolute;
    top: 80vh;
    left: 50%;
}

.pwrap {
    padding-top: 3rem;
    padding-bottom: 8rem;
    position: absolute;
    top: 100vh;
}

#phead {
    padding-top: 3rem;
}

h3 {
    font-family: 'futura-pt', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #777777;
    letter-spacing: 1px;
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

.container {
    padding-left: 0;
    padding-right: 0;
    margin: auto auto;
}

.nav-item {
    margin-right: 20px;
    letter-spacing: 2px;
}

.nav-item:last-child {
    margin-right: 0;
    border: none;
}

.navbar-nav {
    padding: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
}

.nav-link {
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    font-size: 18px;
}

.jumbotron {
    background-color: #fff;
    margin-bottom: 0;
}

hr {
    border-top: 2px solid rgba(0,0,0,.1);
    margin-bottom: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

p {
    text-indent: 15px;
    color: #777777;
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
  }

.p-container {
    margin-top: 30px;
}

/* Portfolio */
.card-img-top {
    position: relative;
}

.card-body {
    width: 286px;
    text-align: center;
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.deployed {
margin-top: 20px;
}

.port-contain {
    margin-bottom: 8rem;
}

/* Contact page */

.btn {
    background-color: #4aaaa5;
    border: none;
    border-radius: 0 0 .25rem .25rem;
}

.card {
    padding-left: 0;
}

.card-title {
    margin-bottom: 0;
}

.socials {
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    margin-left: 5px;
}

.social-info {
    margin-top: 1.5rem;
    line-height: 36px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.contact-box {
    margin-top: 0;
    margin-bottom: 8rem;
}

.col-md-3 {
    padding: 0;
    margin-left: 3rem;
}

/* Footer */
.f-details {
    height: 66px;
    /* border-top: 5px solid #4aaaa5; */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Mobile Responsiveness */
/* Portrait mode for phones */
@media (max-width: 575.98px) {
    .about {
        width: 90%;
        margin: 0 auto;
    }

    .contact-box {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 8rem;
    }

    .socials {
        margin-left: 0;
        width: 80%;
        margin: 0 auto;
    }

    .col-md-3 {
        margin-left: 0;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .socials {
        margin-left: 0;
    }

    .col-md-3 {
        margin-left: 0;
        width: 80%;
        margin: 0 auto;
    }
}