body {
    background: url('images/stardust.png');
}

.navbar {
    padding: 0rem;
}

.navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    /* background-color: #4aaaa5; */
    padding-top: .5rem;
    padding-bottom: .5rem;
}

h1 {
    color: #777777;
    padding: 16px 16px;
    margin-bottom: 0;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Open Sans', sans-serif;  
    color: #777777;
    letter-spacing: 1px;
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

.container {
    padding-left: 0;
    padding-right: 0;
    
}

.nav-item {
    margin-right: 20px;
    border-right: 2px solid #dddddd;
}

.nav-item:last-child {
    margin-right: 0;
    border: none;
    width: 65px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
}

.nav-link {
    padding: 0;
    font-size: 18px;
    
}

.jumbotron {
    background-color: #fff;
    margin-bottom: 8rem;
}

hr {
    border-top: 2px solid rgba(0,0,0,.1);
    margin-bottom: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

p {
    text-indent: 15px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 25px;
  }

.p-container {
    margin-top: 30px;
}

/* Portfolio */
.card-img-top {
    position: relative;
}

.card-body {
    width: 286px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.deployed {
margin-top: 20px;
}

/* Contact page */

.btn {
    background-color: #4aaaa5;
    border: none;
    border-radius: 0 0 .25rem .25rem;
}

.card {
    padding-left: 0;
}

.socials {
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    margin-left: 5px;
}

.social-info {
    margin-top: 1.5rem;
    line-height: 36px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.contact-box {
    margin-top: 0;
}

/* Footer */
.f-details {
    height: 66px;
    border-top: 5px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
