body {
    background: url('images/stardust.png');
}

.navbar {
    padding: 0rem;
}

.navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

h1 {
    color: #fff;
    padding: 0 16px;
    margin-bottom: 0;
}

h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;  
    color: #4aaaa5;
}

.nav-item {
    margin-right: 20px;
    border-right: 2px solid #dddddd;
}

.nav-item:last-child {
    margin-right: 0;
    border: none;
    width: 65px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
}

.nav-link {
    padding: 0;
}

.jumbotron {
    background-color: #fff;
}

hr {
    border-top: 2px solid rgba(0,0,0,.1);
}

.row {
    margin-right: 0;
    margin-left: 0;
}

p {
    text-indent: 15px;
    color: #777777;
  }

.p-container {
    margin-top: 30px;
}

/* Contact page */

.btn {
    background-color: #4aaaa5;
    border: none;
}

/* Footer */
.f-details {
    height: 66px;
    border-top: 5px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
